@model IEnumerable<ClinicaMVC.Models.Medico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar Novo Médico", "Adicionar")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        
        <th>
            Cidade
        </th>
        <th>
            Especialidade
        </th>
        <th>
            Opções
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidade.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new {  id=item.IDMedico }) |
                @Html.ActionLink("Details", "Detalhes", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "excluir", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
